# Node
node_modules/
build/
.npm

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database
*.db

# Build artifacts
dist/
.vite/

# IDEs
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
~$*
